<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Add Task</h2>
  <!-- Attention! form submission 
       By defualt html handles himself the form submission
       if a button has the type submit. In order to avoid this
       we need to include the @angular/forms in our component.
       In this way when this forms are included in short words manipulates the form
       and doesn't allow to submit it in the traditional way of html.
       As we want to manipulate the submission as we want we use the (ngSubmit) action which is
       associated to a method of component class.
    -->
  <form (ngSubmit)="onSubmit()">
    <p>
      <label for="title">Title</label>
      <!-- With ngModel we can manage the two way binding in angular
           In the following row the syntax is presented for ngModel
           !! Attention, to avoid errors using ngModel we need to include the FormsModule
                from @angular/forms
        -->
      <input type="text" id="title" name="title" [(ngModel)]="titleText" />
    </p>

    <p>
      <label for="summary">Summary</label>
      <textarea id="summary" rows="5" name="summary" [(ngModel)]="summaryText"></textarea>
    </p>

    <p>
      <label for="due-date">Due Date</label>
      <input type="date" id="due-date" name="due-date" [(ngModel)]="dueDateText" />
    </p>

    <p class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="submit">Create</button>
    </p>
  </form>
</dialog>
