<div class="container">
  <app-cockpit
  (serverCreated)="onServerAdded($event)"
  (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element 
        *ngFor="let serverElement of serverElements"
        [element]="serverElement">
        <p>
          <strong *ngIf="element.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="element.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
